<!DOCTYPE html>
<html>

<head>
    <title>FabriSearch</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100">
    <div class="flex justify-center items-center min-h-screen">
        <div class="bg-white rounded-lg shadow-lg p-6 max-w-md w-full">
            <h1 class="text-4xl font-extrabold text-blue-500 text-center mb-4">FabriSearch</h1>
            <p class="text-xl font-italic text-blue-500 text-center mb-4">powered by intelliM</p>

            <!-- Flash Messages -->
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class="text-red-500">
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

            <form action="/login" method="post">
                <div class="mb-4">
                    <label for="username" class="block text-gray-700 text-sm font-medium">Username:</label>
                    <input type="text" name="username" id="username" class="w-full p-2 border rounded-sm focus:ring focus:border-blue-500" required>
                </div>
                <div class="mb-4">
                    <label for="password" class="block text-gray-700 text-sm font-medium">Password:</label>
                    <input type="password" name="password" id="password" class="w-full p-2 border rounded-sm focus:ring focus:border-blue-500" required>
                </div>
                <div class="mt-4">
                    <button type="submit" class="w-full bg-blue-500 text-white p-2 rounded hover:bg-blue-600 focus:ring focus:ring-blue-500 focus:ring-opacity-50 cursor-pointer">Login</button>
                </div>
            </form>

            <!-- Admin Login Button -->
            <p class="mt-3 text-center">Don't have an account? <a href="/signup" class="text-blue-500 hover:underline">Signup</a></p>
            <p class="mt-2 text-center"><a href="/admin" class="text-blue-500 hover:underline">Admin Login</a></p>
        </div>
    </div>
</body>

</html>
